//Importo Compass
@import "compass";

//Importo le immagini
@import "servizi/*.png";

//Creo le classi personalizzate per le icone
.drive{ @include servizi-sprite(drive); }
.foto{ @include servizi-sprite(foto); }
.google{ @include servizi-sprite(google); }
.mail{ @include servizi-sprite(mail); }
.play{ @include servizi-sprite(play); }
.plus{ @include servizi-sprite(plus); }

body{
  margin: 0;
  padding: 0;
}

span{
  display: inline-block;
  height: 64px;
  width: 64px;
}
