/* Creazione di una mappa sprite */
/* line 11, sass/style.scss */
.drive {
  background: url('img/servizi-s7c5e02fc2a.png') 0 0;
}

/* line 12, sass/style.scss */
.foto {
  background: url('img/servizi-s7c5e02fc2a.png') 0 -64px;
}

/* line 13, sass/style.scss */
.google {
  background: url('img/servizi-s7c5e02fc2a.png') 0 -128px;
}

/* line 14, sass/style.scss */
.mail {
  background: url('img/servizi-s7c5e02fc2a.png') 0 -192px;
}

/* line 15, sass/style.scss */
.play {
  background: url('img/servizi-s7c5e02fc2a.png') 0 -256px;
}

/* line 16, sass/style.scss */
.plus {
  background: url('img/servizi-s7c5e02fc2a.png') 0 -320px;
}

/*
  Importazione delle immagini usando mixin dipendenti dal nome della cartella
  //Importo le immagini
  @import "servizi/*.png";

  //Creo le classi personalizzate per le icone
  .drive{ @include servizi-sprite(drive); }
  .foto{ @include servizi-sprite(foto); }
  .google{ @include servizi-sprite(google); }
  .mail{ @include servizi-sprite(mail); }
  .play{ @include servizi-sprite(play); }
  .plus{ @include servizi-sprite(plus); }
*/
/* line 31, sass/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 36, sass/style.scss */
span {
  display: inline-block;
  height: 64px;
  width: 64px;
}
